name: CI
on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', pypy-3.11]
        exclude:
          # from matplotlib import _api, _c_internal_utils
          # ImportError: The specified module could not be found
          - os: windows-latest
            python-version: pypy-3.11
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == 'pypy-3.11'
        run: |
          sudo apt update
          sudo apt install libjpeg-dev
      - run: pip install .[test] coveralls
      - run: pytest --cov agatecharts
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
